.env
__pycache__
.DS_Store


# api gateway
services/api_gateway/node_modules
services/api_gateway/.env.dev
services/api_gateway/.env.prod
services/api_gateway/.env.docker
services/api_gateway/.env

# profile
services/user_profile_service/venv
services/user_profile_service/.env
services/user_profile_service/.env.dev
services/user_profile_service/.env.docker
services/user_profile_service/.env.prod

# auth
services/auth_service/.gradle
services/auth_service/.gitattributes
services/auth_service/.gitignore
services/auth_service/src/main/resources/application-dev*
services/auth_service/src/main/resources/application-prod.properties
services/auth_service/src/main/resources/application-docker.properties

# events
services/events_service/venv
services/events_service/.env.docker

# logging 
services/logging_service/venv
services/logging_service/.env
services/logging_service/.env.dev
services/logging_service/.env.docker
services/logging_service/.env.prod

# search 
services/search_service/node_modules
services/search_service/.env.dev
services/search_service/.env.docker
services/search_service/.env.prod